@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

li.active a{
  background: #ae255b !important;
}

.btn-medium {
  color: #fff !important;
  background: #ae255b !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA78fE;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}
