<h3 ng-hide="product.showform">
  {{product.name}}
  <em class="pull-right">{{product.price | currency}}</em>
  <p class="text-center"><img ng-src="{{product.image}}"/></p>
</h3>

<div ng-show="isAdmin()">
  <div ng-hide="product.showform">
    <p>
      <button ng-click="editForm(product)">Edit</button>&nbsp;
      <button ng-click="destroy(product)">Destroy</button>
    </p>
  </div>

  <div ng-show="product.showform">
    <button ng-click="editForm(product)" class="pull-right">Cancel</button>
    <form ng-submit="update(product)" name="newGem">
      <label for="name">Name</label>
      <input type="text" name="name" ng-model="product.name" class="form-control" />
      <label for="price">Price</label>
      <input type="text" name="price" ng-model="product.price" class="form-control" />
      <label for="image">Image</label>
      <input type="text" name="image" ng-model="product.image" class="form-control" />
      <label for="specifications">Specifications</label>
      <p>
      <textarea ng-model="product.specifications" name="specifications" class="form-control"></textarea>
      </p>
      <label for="description">Description</label>
      <p>
      <textarea ng-model="product.description" name="description" class="form-control"></textarea>
      </p>
      <input type="submit" value="Update Product" class="btn btn-medium" />
    </form>
  </div>

  <p></p>
</div>
